ace_dump/venta.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://localhost:3000/venta"
             name="VentaService"
             targetNamespace="http://localhost:3000/venta">

  <types>
    <xsd:schema targetNamespace="http://localhost:3000/venta">
      <xsd:element name="registrarVenta">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cliente" type="xsd:string"/>
            <xsd:element name="producto" type="xsd:string"/>
            <xsd:element name="cantidad" type="xsd:int"/>
            <xsd:element name="precio" type="xsd:float"/>
            <xsd:element name="metodo" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="registrarVentaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="registrarVentaRequest">
    <part name="parameters" element="tns:registrarVenta"/>
  </message>

  <message name="registrarVentaResponse">
    <part name="parameters" element="tns:registrarVentaResponse"/>
  </message>

  <portType name="VentaPortType">
    <operation name="registrarVenta">
      <input message="tns:registrarVentaRequest"/>
      <output message="tns:registrarVentaResponse"/>
    </operation>
  </portType>

  <binding name="VentaBinding" type="tns:VentaPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="registrarVenta">
      <soap:operation soapAction="http://localhost:3000/venta/registrarVenta"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="VentaService">
    <port name="VentaPort" binding="tns:VentaBinding">
      <soap:address location="http://localhost:3000/soap"/>
    </port>
  </service>
</definitions>